<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registrarUsu</servlet-name>
        <servlet-class>Vista.registrarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarNutri</servlet-name>
        <servlet-class>Vista.registrarNutri</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>Vista.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesionN</servlet-name>
        <servlet-class>Vista.iniciarSesionN</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarUsu</servlet-name>
        <url-pattern>/registrarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarNutri</servlet-name>
        <url-pattern>/registrarNutri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesionN</servlet-name>
        <url-pattern>/iniciarSesionN</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
